<!--The content below is only a placeholder and can be replaced.-->
<h4>
  {{title}}
</h4>
<table class="table">
  <thead>
    <tr>
      <th>Quote ID</th>
      <th>Book</th>
      <th>Quote content</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let quote of quotes | async" [class.success]="quote === selectedQuote" (click)="onSelect(quote)">
      <td>{{quote.id}}</td>
      <td>{{quote.book}}</td>
      <td>{{quote.content.substr(0, 30)}}...</td>
    <tr>
  </tbody>
</table>
<div class="message">Click on a quote for more details</div>
<app-quote-list [quote]="selectedQuote"></app-quote-list>
