/* You can add global styles to this file, and also import other style files */
body {
    margin: 0 50px;
}
header {
    font-size: 2em;
    text-align: center;
    margin: 1rem 0;
}

table.table {
    overflow: hidden;
}

dialog {
    border: solid 1px rgba(100, 100, 100, .4);
}